//MEDIA WIDTH ===============>
$maxMobile: "(max-width : 767px)";
$maxSmall: "(max-width : 991px)";
$minSmall: "(min-width : 768px)";
$minMedium: "(min-width : 992px)";
$minLarge: "(min-width : 1200px)";

// Colors
$main-color: #1f242d;
$alt-color: #323946;
$secound-main-color: #0ef;
$main-transition: 0.3s;
$section-padding-top: 70px;
$section-padding-bottom: 70px;
$para-color: #777;
$content-color: #666;
